<a href="https://colab.research.google.com/github/harnalashok/Clustering/blob/master/online_retail_RFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import required libraries for dataframe and visualization

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

# import required libraries for clustering
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

import os

In [2]:
# 1.1 Display multiple commands output from a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
path = "/content"

In [64]:
# StackOverflow
data = pd.read_csv(
                   "onlineretail.zip",
                   encoding = "ISO-8859-1",
                   parse_dates=True        # InvoiceDate does not get converted to date
                   )

In [65]:
data.shape   # (541909, 8)
print()
data.dtypes  
print()
data.head()

(541909, 8)

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [66]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [67]:
print("\n-----InvoiceNo------\n")
data.InvoiceNo.value_counts()     # 25900 unique
print()
print("\n-----StockCode------\n")
data.StockCode.value_counts()     # 4070  unique
print()
print("\n----CustomerID-------\n")
data.CustomerID.value_counts()    # 4372 unique
print("\n----Country-------\n")
data.Country.value_counts()    # 38 unique
print()
len(data.Country.value_counts()) # 38 unique

-----InvoiceNo------

573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
C564210       1
542571        1
C549545       1
C548357       1
564951        1
Name: InvoiceNo, Length: 25900, dtype: int64

-----StockCode------

85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
          ...
84726        1
21765        1
20738        1
21283        1
84967B       1
Name: StockCode, Length: 4070, dtype: int64

----CustomerID-------

17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
13391.0       1
16579.0       1
13366.0       1
17763.0       1
17846.0       1
Name: CustomerID, Length: 4372, dtype: int64

----Country-------

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

38

In [68]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [69]:
data = data[~data["CustomerID"].isnull()]
data.shape  # (406829, 8)

(406829, 8)

In [70]:
#checking for duplicates
data = data[~data.duplicated()]
data.shape   # (401604, 8)  ; data.drop_duplicates(keep='first', inplace=True)

(401604, 8)

In [71]:
data.sort_values(by = "InvoiceDate", ascending = False).head()
data.sort_values(by = "InvoiceDate",ascending = False).tail()

       InvoiceNo StockCode  ... CustomerID         Country
394691    570876     23083  ...    16085.0  United Kingdom
394690    570876     22469  ...    16085.0  United Kingdom
394694    570876     23509  ...    16085.0  United Kingdom
394695    570876     23048  ...    16085.0  United Kingdom
394696    570876     23503  ...    16085.0  United Kingdom

[5 rows x 8 columns]

  InvoiceNo StockCode  ... CustomerID         Country
3    536365    84029G  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
5    536365     22752  ...    17850.0  United Kingdom
6    536365     21730  ...    17850.0  United Kingdom
0    536365    85123A  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [52]:
# LAst purchase date of each customer
# Groupby customerID
# Sort by date
# Get first date

In [72]:
data['tp'] = data['UnitPrice'] * data['Quantity']

In [73]:
df = data.copy()

In [76]:
grd = data.groupby("CustomerID")

In [77]:
dx = pd.DataFrame(columns = df.columns)
dx.head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, tp]
Index: []

In [78]:
for i, d in grd:
  #print(i)
  d = d.reset_index().sort_values(by = ['InvoiceDate'], ascending = False)
  dx = pd.concat([dx, d.head(1)])
  #df.append(d.first())

In [79]:
dx.head()
dx.shape

    InvoiceNo StockCode  ...       tp     index
1     C541433     23166  ... -77183.6   61624.0
145    573511     23508  ...      8.4  428978.0
30     568172      POST  ...     40.0  359060.0
0      577609     23112  ...     15.0  485502.0
0      543037     21908  ...     25.2   80323.0

[5 rows x 10 columns]

(4372, 10)

In [80]:
grpd = df.groupby(['CustomerID', 'InvoiceNo'])

In [81]:
grpd.size()

CustomerID  InvoiceNo
12346.0     541431        1
            C541433       1
12347.0     537626       31
            542237       29
            549222       24
                         ..
18283.0     579673       50
            580872       50
18287.0     554065       29
            570715       38
            573167        3
Length: 22190, dtype: int64

In [82]:
grpd.size().unstack()

InvoiceNo   536365  536366  536367  536368  ...  C581490  C581499  C581568  C581569
CustomerID                                  ...
12346.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
12347.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
12348.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
12349.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
12350.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
...            ...     ...     ...     ...  ...      ...      ...      ...      ...
18280.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
18281.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
18282.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
18283.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN
18287.0        NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN      NaN

[4372 rows x 22190 columns]

In [83]:
grpd.size().unstack().sum(axis = 1)

CustomerID
12346.0      2.0
12347.0    182.0
12348.0     31.0
12349.0     73.0
12350.0     17.0
           ...
18280.0     10.0
18281.0      7.0
18282.0     13.0
18283.0    721.0
18287.0     70.0
Length: 4372, dtype: float64

In [84]:
grpd = df.groupby('CustomerID')

In [85]:
grpd['tp'].sum()

CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
            ...
18280.0     180.60
18281.0      80.82
18282.0     176.60
18283.0    2045.53
18287.0    1837.28
Name: tp, Length: 4372, dtype: float64